fastapi==0.111.0
Flask==2.2.5
Flask_Cors==4.0.1
joblib==1.2.0
lime==0.2.0.1
matplotlib==3.8.0
numpy==2.0.0
pandas==2.2.2
Pillow==10.4.0
pydantic==1.10.12
skimage==0.0
starlette==0.37.2
tensorflow==2.16.1
tensorflow_intel==2.16.1
scikit-image==0.23.2
scikit-learn==1.5.0
uvicorn==0.30.1





